html {
  background-color: #1a1026;
}
header {
  background-color: #1d1329;
}
/*
--Content--
*/
html, body {
  color: #e2ecff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
html a {
  color: #e2ecff;
  text-decoration: bold;
}
body a {
  color: #6c9efc;
  text-decoration: none;
}
/*
--Selection--
*/

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  user-select: none;
}
/* General selection for the whole page */
::selection {
  background: #022e6b; /* Background color */
  color: #0263eb;        /* Text color */
}

/* Specific to Firefox */
::-moz-selection {
  background: #022e6b;
  color: #0263eb;
}
